// ---------------------- Color ----------------------
$bodyBg: #F3F4FA;
$mainBg: #fff;
$white: #fff;
$black: #000;
$txtColor: #4E4D4F;
$mainColor: #8624DB;
$purple: #8624DB;
$orange: #FF9066;
$green: #4CAF50;
$red: #DB190C;

// ---------------------- Font ----------------------
$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5rem;


// ---------------------- Size ----------------------
$gridNumber: 12;

$sideBarWidth: 300px;
$sideBarLogoHeight: 150px;
$spacing: 40px;
$mobileSpacing: 20px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 991px;
$largeScreen: 1200px;

